.introduction_ChocoPizza {
    display: flex;
    justify-content: space-between;

}

.pizza_Time{
    display: flex;
    
}

.sub_Title {
    display: flex;
    flex-direction: column;
}


.navigation_Links {
    display: flex;
    
}
.chocolate_Pizza_BodyTitle{
    display: flex;
    justify-content: space-between;
}

.print_Title {
    display: flex;
}

.print_Title_Logo {
    height: 10px;
    width: 10px;
}

.print_Title_Text {
    font-size: 10px;
}